@font-face {
    font-family: myounghk;
    src: url(../fonts/myounghk.otf);
}

.icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

nav {
    font-family: myounghk;
    font-size: 20px;
    z-index: 10;
}