@font-face {
    font-family: myounghk;
    src: url(../fonts/myounghk.otf);
}

body {
    background-color: rgb(41, 41, 41);
}

.newspage-back-icon {
    top:20px;
    left:20px;
    color: white;
    font-size: 40px;
    margin: 10px;
}

.newspage-back-icon:hover {
    cursor: pointer;
}

.newspage-title h1{
    color: white;
    width: 450px;
    text-align: center;
    font-family: myounghk;
}

.newspage-title span {
    font-size: 15px;
    height: 20px;
    color: white;
    margin-top: 25px;
    font-family: myounghk;
}

.newspage-line {
    border: white 1px solid;
    width: 560px;
}

.newspage-title div {
    display: flex;
}

.newspage-content {
    width: 90%;
    margin: auto;
}

.newspage-content p {
    color: white;
}

.hide {
    display: none !important;
}

@media only screen and (max-width: 720px) {
    body {
        min-width: 400px;
    }
    .newspage-title{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
    }
    .newspage-line {
        width: 90%;
        margin: auto;
    }
}