<%- include('header', {title: "Community", css: "community"}) -%>
<br>
<div style="width: 100%; text-align: center; color: white;">
    <h1>我們的社群</h1>
    <div style="width: 20%; border: white 1px solid; margin: auto;"></div>
</div>
<br>
<div class="main-invitebox">
    <div class="imgBx">
        <img src="/images/community/checkmateserverlogo-removebg-preview.png" width="200"/>
    </div>
    <div class="content">
        <div class="title">
            <h2>雀可美特討論區 ( Discord 伺服器 )</h2>
        </div>
        <div class="text">
            <p>testing</p>
        </div>
    </div>
    <a href="https://discord.gg/checkmatekuhaku"><input type="button" class="joinbutton" value="加入" ></a>
</div>
<br>
<!--patern server 1-->
<div class="partner-container">
    <div class="sub-invitebox virtualtransmissionbase">
        <div class="content" style="font-weight: bold;">
            <h3>虛擬交流基地 Virtual Transmission Base <br>( 早期支持者 )</h3>
            <p>為每個喜歡聊天的DD們，單推們，建立一個屹立不搖的避風港，首先讓群裡的所有人能夠開心快樂的聊天與交流，次要為VTuber社群逐漸壯大的同時，推廣一些具有特色的VTuber給所有人認識，最後讓更多的人認識VTuber，讓更多的人喜歡VTuber，且讓各位每天打開VTB虛擬交流基地時，迎接的都是滿滿的快樂！
            </p>
            <a href="https://discord.gg/vtb"><input type="button" class="joinbutton" value="加入"></a>
        </div>
    </div>

    <!--patern server 2-->
    <div class="sub-invitebox">
        <div class="content">
            <h3>Meowクラウド蛋糕店 <br>( 早期支持者 )</h3>
            <p>testing</p>
            <a href="https://discord.gg/zxdFpr3GGx"><input type="button" class="joinbutton" value="加入"></a>
        </div>
    </div>
</div><br>
<%- include('footer') -%>