<%- include('header', {title: "News", css: "news-index"}) -%>
<br>
<div class="news-title">
    <h1>新聞</h1>
    <div></div>
</div><br>
<div class="news-container">

</div>
<script src="scripts/news.js"></script>
<%- include('footer') -%>