<div class="video-container">
    <video preload="auto" class="hide">
        <source src="https://drive.google.com/uc?id=1VNSXQPCWpSEWVdSZVvhrKaJnFVwSMGAF">
    </video>
    <h1>Loading</h1>
</div>
<div class="skip-area hide"></div>
<div class="cb-container">
    <div class="card-container hide">
        <img src="" alt="" onload="image_loaded()">
    </div>
    <div class="button-container-card">
        <button id="exit" disabled>Exit</button>
    </div>
</div>

<div class="expose-container"></div>
<!--<script src="scripts/card_single.js"></script>!-->