
<div class="card-pool-container">
    <i class="fas fa-chevron-left" id="left"></i>
    <div class="events">
        <img src="/images/cards/events/event1.png" width="300" height="120" style="border-radius: 10px;">
    </div>
    <i class="fas fa-chevron-right" id="right"></i>
</div>
<div class="info">
    <h3 style="color: white;width: 100%;text-align: center;">Card pool title</h3>
    <h4 style="color: white;width: 100%;text-align: center;">Date:</h4>
</div>
<div style="border: white 1px solid; width:80%;margin:auto;"></div><br>
<div class="card-display-container">
    <h4>highlight card</h4>
    <div class="card-display">
        <i class="fas fa-chevron-left" id="left-arrow"></i>
        <img src="/cards/里克.png" alt="" class="left">
        <img src="/cards/里克.png" alt="" class="center">
        <img src="/cards/里克.png" alt="" class="right">
        <i class="fas fa-chevron-right" id="right-arrow"></i>
    </div>
</div><br>
<div class="button-container">
    <button>單抽</button>
    <button>十連抽</button>
</div>
